[Unit]
Description=Masscan Control bot service

[Service]
Type=simple
ExecStart=/bin/bash /usr/bin/masscanctl.sh

[Install]
WantedBy=multi-user.target
